/*Sets the global font size to 10 pixels instead of 16px*/
html {
    font-size: 62.5%;
}

/* Sets it so the padding and border no longer increases an element's width. Revisit
* {
    box-sizing: border-box;
}
*/

body, html {
    height: 100%
}
/*What about asterisk instead of listing elements?*/
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Alumni Sans', sans-serif
}

/*Custom styles for Navbar*/
.opacity-hover-off {
    background-color: rgba(0,0,0,0.5)
}
.opacity-hover-off:hover {
    background-color: rgba(0,0,0,1);
   
}
 .navbar-nav .nav-link {
    color: white;
    font-size: 2rem;
 }
 .navbar-nav .nav-link:hover {
    background-color: rgb(37, 38, 34);
    color: black;
 }
 .display-1 {
    color: white;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
 }
 .btn {
    font-size: 2rem;
 }

 /*Hide on small screens*/
 @media (max-width: 992px) {
    #myNavbar {
        display: none;
    }
 }

 /*Custom styles for Header*/
 .bg-img {
    background-image: url('assets/Dumplings.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
 }
 .btn {
    min-width: 250px;
 }
 .btn.hover-btn:hover {
    background-color: lightgray;
    color: black;
    text-decoration: underline;
 }

 /*Custom styles for Menu Box*/
.bg-brown {
    background-color: rgb(55, 32, 22);
}
.hover-beige {
    color: white;
    
}
.hover-beige:hover {
    background-color: rgb(165, 141, 71);
    color: white;
}

.active-tab {
    background-color: rgb(165, 141, 71);
    color: white;
}
.border-dark {
    border-color: grey;
}
.badge {
    padding: .3em .3em;
}
.bg-red {
    background-color: red;
    color: white;
}
.bg-grey {
    background-color: grey;
}
.menu h1 {
    color: black;
}

/* About Container
.about-bgd {
    background-color: rgb(2, 15, 10);
} */
.chef-img {
    width: 200px;
}
.restaurant-img {
    width: 100%;
}

/*Greyscale*/
.img-greyscale {
    filter: grayscale();
}

/*XL form boxes*/

.extra-large{
    height: 60px;
    font-size: 1.8rem;
}

/*Contact Background*/
.aboutContact-bgd {
    background-color: rgb(29, 30, 28);
}